/* ========================= */
/* LE PRESTIGE */
/* ========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#111;
    color:#fff;
    line-height:1.6;
}

/* ========================= */
/* ACCUEIL */
/* ========================= */

#accueil{
    background:
    linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)),
    url("fond.jpg");

    background-size:cover;
    background-position:center;

    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.logo{
    width:140px;
    margin:20px 0;
}

h1{
    font-size:60px;
    margin-bottom:15px;
}

.slogan{
    font-size:22px;
    margin-bottom:30px;
}

/* ========================= */
/* MENU */
/* ========================= */

nav{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;
    justify-content:center;
    gap:25px;

    background:rgba(0,0,0,.90);

    padding:18px;

    z-index:999;
}

nav a{

    color:white;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;
}

nav a:hover{

    color:#d4af37;
}

/* ========================= */
/* BOUTONS */
/* ========================= */

.btn,
button,
.btn-commander{

    display:inline-block;

    padding:12px 25px;

    margin-top:15px;

    border:none;

    border-radius:30px;

    cursor:pointer;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;
}

.btn{

    background:#d4af37;

    color:#111;
}

.btn:hover{

    background:white;
}

button{

    background:#222;

    color:white;
}

button:hover{

    background:#d4af37;

    color:#111;
}

.btn-commander{

    background:#25D366;

    color:white;
}

.btn-commander:hover{

    background:#1ea952;
}

/* ========================= */
/* SECTIONS */
/* ========================= */

section{

    padding:70px 20px;

    max-width:1200px;

    margin:auto;
}

h2{

    text-align:center;

    margin-bottom:40px;

    font-size:38px;
}

/* ========================= */
/* PRODUITS */
/* ========================= */

.produits{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:30px;
}

..carte{
    background:#ffffff;
    color:#222;
}

.carte h3{
    color:#111;
}

.carte p{
    color:#444;
}

.carte .prix{
    color:#000;
    font-size:32px;
    font-weight:bold;
}

.carte:hover{

    transform:translateY(-8px);

    border-color:#d4af37;
}

.carte img{

    width:100%;

    height:270px;

    object-fit:cover;

    border-radius:10px;

    margin-bottom:15px;
}

.carte h3{

    margin-bottom:10px;
}

.carte{
    background:#ffffff;
    color:#222;
}

.carte h3{
    color:#111;
}

.carte p{
    color:#444;
}

.carte .prix{
    color:#000;
    font-size:32px;
    font-weight:bold;
}

/* ========================= */
/* PANIER */
/* ========================= */

#panier .carte{

    max-width:700px;

    margin:auto;
}

#liste-panier p{

    padding:10px;

    border-bottom:1px solid #444;
}

/* ========================= */
/* AVIS */
/* ========================= */

#temoignages h3{

    color:#d4af37;

    font-size:28px;
}

/* ========================= */
/* PAIEMENT */
/* ========================= */

#paiement h3{

    color:#d4af37;
}

/* ========================= */
/* CONTACT */
/* ========================= */

#contact{

    text-align:center;
}

/* ========================= */
/* FOOTER */
/* ========================= */

footer{

    background:#000;

    text-align:center;

    padding:30px;

    color:#bbb;
}

/* ========================= */
/* WHATSAPP */
/* ========================= */

.whatsapp-float{

    position:fixed;

    bottom:20px;

    right:20px;

    width:65px;

    height:65px;

    background:#25D366;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 5px 15px rgba(0,0,0,.4);

    z-index:9999;

    transition:.3s;
}

.whatsapp-float:hover{

    transform:scale(1.1);
}

.whatsapp-float img{

    width:38px;

    height:38px;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:768px){

nav{

    gap:15px;

    flex-wrap:wrap;
}

h1{

    font-size:42px;
}

.slogan{

    font-size:18px;
}

.logo{

    width:110px;
}

button,
.btn,
.btn-commander{

    width:100%;
}

.carte img{

    height:220px;
}

}
/* Barre de recherche */

.recherche{
    text-align:center;
    margin-bottom:20px;
}

.recherche input{
    width:100%;
    max-width:500px;
    padding:15px;
    border:none;
    border-radius:30px;
    font-size:17px;
}

/* Catégories */

.categories{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:40px;
}

.categories button{
    background:#d4af37;
    color:#111;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
}

.categories button:hover{
    background:white;
}
/* Bouton Appeler */

.call-float{

position:fixed;

bottom:100px;

right:20px;

width:65px;

height:65px;

background:#007BFF;

color:white;

font-size:30px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

text-decoration:none;

box-shadow:0 5px 15px rgba(0,0,0,.3);

z-index:9999;

transition:.3s;

}

.call-float:hover{

transform:scale(1.1);

}
.compte-rebours{
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
    color:#ff4444;
}
/* Nos services */

#services h2{
    margin-bottom:40px;
}

#services .carte{
    transition:0.3s;
}

#services .carte:hover{
    transform:translateY(-8px);
    border:2px solid #d4af37;
}
/* Pourquoi choisir Le Prestige */

#pourquoi{
    padding:70px 20px;
    text-align:center;
}

#pourquoi h2{
    color:#d4af37;
    margin-bottom:40px;
}

#pourquoi .carte{
    transition:0.3s;
}

#pourquoi .carte:hover{
    transform:translateY(-8px);
    border:2px solid #d4af37;
}
/* Bouton Paiement MTN */

.btn-paiement{
    display:block;
    margin-top:20px;
    padding:15px;
    background:#ffcc00;
    color:#000;
    font-weight:bold;
    text-align:center;
    border-radius:10px;
    text-decoration:none;
    transition:.3s;
}

.btn-paiement:hover{
    background:#e6b800;
    transform:scale(1.03);
}
/* Tableau fiche produit */

.fiche-table{

width:100%;

border-collapse:collapse;

margin:25px 0;

}

.fiche-table td{

padding:12px;

border:1px solid #444;

}

.fiche-table tr:nth-child(even){

background:#222;

}
.btn-retour{

display:inline-block;

margin-top:30px;

padding:12px 25px;

background:#d4af37;

color:black;

font-weight:bold;

border-radius:8px;

text-decoration:none;

}

.btn-retour:hover{

background:white;

}
.btn-retour{
    display:inline-block;
    margin:10px 8px;
    padding:12px 20px;
    background:#d4af37;
    color:#111;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn-retour:hover{
    background:#f5d76e;
    transform:translateY(-2px);
}
/* Alignement des cartes produits */

.carte h3{
    margin:15px 15px 10px;
}

.carte p{
    margin:0 15px 12px;
}

.carte .prix{
    font-weight:bold;
    color:#b8860b;
    font-size:20px;
}

/* Les boutons restent toujours en bas */
.carte button{
    margin-top:auto;
}

.carte button,
.carte .btn-commander{

    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;

}

.btn-commander{

    display:block;
    text-align:center;
    text-decoration:none;
    padding:12px;
    border-radius:8px;

}


/* --- Fix alignement cartes --- */
.carte{
 display:flex;
 flex-direction:column;
 min-height:620px;
}
.carte p.prix{
 margin-bottom:12px;
}
.carte button{
 margin-top:auto;
}
.carte button,
.carte .btn-commander{
 display:block;
 width:90%;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:10px;
 text-align:center;
}
